<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 12. Field of view toolkit</a><br />
<a href="fov_init.html">&lt; 12.1 Building the map</a>
</td><td width="60%">
<p align="center">
=====================================<br />
12.2 Computing the field of view<br />
=====================================<br />
</p></td><td width="20%">
<a href="fov_get.html">&gt; 12.3 Reading fov information</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
Once your map is allocated and empty cells have been defined, you can calculate the field of view with :<br />
<p class="code"><pre>
C++ : void TCODMap::computeFov(int player_x, int player_y, int maxRadius=0)
C   : void TCOD_map_compute_fov(TCOD_map_t map, int player_x, int player_y, int max_radius)
</pre></p>
<table class="param">
<tr><th>Parameter</th><th>Description</th></tr>
<tr><td>map</td><td>In the C version, the map handler returned by the TCOD_map_new function.</td></tr>
<tr><td>player_x,player_y</td><td>Position of the player in the map.<br />0 &lt;= player_x &lt; map width.<br />0 &lt;= player_y &lt; map height.</td></tr>
<tr><td>maxRadius</td><td>If &gt; 0, the fov is only computed up to maxRadius cells away from the player. Else, the range is unlimited.</td></tr>
</table>
<br />
Example :<br />
<p class="code"><pre>
C++ : TCODMap *map = new TCODMap(50,50); // allocate the map
      map->setProperties(10,10,true,true); // set a cell as 'empty'
      map->computeFov(10,10); // calculate fov from the cell 10x10 (unlimited range)
C   : TCOD_map_t map = TCOD_map_new(50,50);
      TCOD_map_set_properties(map,10,10,true,true);
      TCOD_map_compute_fov(map,10,10,0);
</pre></p>
