<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 15. Heightmap toolkit</a><br />
<a href="heightmap_read.html">&lt; 15.4 Reading data from the heightmap</a>
</td><td width="60%">
<p align="center">
=====================================<br />
15.5 Destroying a heightmap<br />
=====================================<br />
</p></td><td width="20%">
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
To release the resources used by a heightmap, destroy it with :<br />
<p class="code"><pre>
C++ : TCODHeightMap::~TCODHeightMap()
C   : void TCOD_heightmap_delete(TCOD_heightmap_t *hm)
</pre></p>
<table class="param">
<tr><th>Parameter</th><th>Description</th></tr>
<tr><td>hm</td><td>In the C version, the address of the heightmap struct returned by the <a href="heightmap_init.html">creation function</a>.</td></tr>
</table>
<br />

