<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="../line/index.html">&lt; 4. Line drawing toolkit</a>
</td><td width="60%">
<p align="center">
=====================================<br />
5. Image toolkit<br />
=====================================<br />
</p></td><td width="20%">
<a href="../mouse/index.html">&gt; 6. Mouse support</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
This toolkit contains some image manipulation utilities.<br/>
<a href="image_new.html">5.1 Creating an empty image</a><br />
<a href="image_load.html">5.2 Loading a .bmp or .png image</a><br />
<a href="image_from_console.html">5.3 Creating an image from a console</a><br />
<a href="image_get_size.html">5.4 Getting the size of an image</a><br />
<a href="image_get_pixel.html">5.5 Getting the color of a pixel</a><br />
<a href="image_get_mipmap_pixel.html">5.6 Getting the average color of a part of the image</a><br />
<a href="image_put_pixel.html">5.7 Changing the color of a pixel</a><br />
<a href="image_blit.html">5.8 Blitting an image on a console</a><br />
<a href="image_save.html">5.9 Saving an image to a .bmp or .png file</a><br />
<a href="image_delete.html">5.10 Deleting an image</a><br />
<br />
