<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
</td><td width="60%">
<p align="center">
=====================================<br />
0. Compiling with libtcod<br />
=====================================<br />
</p></td><td width="20%">
<a href="../color/index.html">&gt; 1. Colors</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
Click on the link corresponding to your platform.<br/>
<a href="msys_mingw.html">0.1 MINGW32 without IDE</a><br />
<a href="#">0.2 MINGW32 with Code::Blocks (TODO)</a><br />
<a href="#">0.3 Visual Studio 2005 (TODO)</a><br />
<a href="#">0.4 Visual Studio 2008 (TODO)</a><br />
<a href="linux.html">0.5 GCC on Linux</a><br />
<br />
