<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a><br />
<a href="console_drawing.html">&lt; 2.2 Drawing on the root console</a>
</td><td width="60%">
<p align="center">
=====================================<br />
ASCII constants<br />
=====================================<br />
</p></td><td width="20%">
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
Some useful graphic characters in the terminal.bmp font.
Single line walls :
<p class="code"><pre>
TCOD_CHAR_HLINE=196
TCOD_CHAR_VLINE=179
TCOD_CHAR_NE=191
TCOD_CHAR_NW=218
TCOD_CHAR_SE=217
TCOD_CHAR_SW=192
</pre></p>
Double lines walls :
<p class="code"><pre>
TCOD_CHAR_DHLINE=205
TCOD_CHAR_DVLINE=186
TCOD_CHAR_DNE=187
TCOD_CHAR_DNW=201
TCOD_CHAR_DSE=188
TCOD_CHAR_DSW=200
</pre></p>
Single line vertical/horizontal junctions (T junctions)
<p class="code"><pre>
TCOD_CHAR_TEEW=180
TCOD_CHAR_TEEE=195
TCOD_CHAR_TEEN=193
TCOD_CHAR_TEES=194
</pre></p>
Double line vertical/horizontal junctions (T junctions)
<p class="code"><pre>
TCOD_CHAR_DTEEW=181
TCOD_CHAR_DTEEE=198
TCOD_CHAR_DTEEN=208
TCOD_CHAR_DTEES=210
</pre></p>
Block characters
<p class="code"><pre>
TCOD_CHAR_CHECKER=178
TCOD_CHAR_BLOCK=219
TCOD_CHAR_BLOCK1=178
TCOD_CHAR_BLOCK2=177
TCOD_CHAR_BLOCK3=176
TCOD_CHAR_BLOCK_B=220
TCOD_CHAR_BLOCK_T=223
</pre></p>
Cross-junctions between a single line wall and a double line wall. H/V represent the double line wall orientation
<p class="code"><pre>
TCOD_CHAR_DS_CROSSH=216
TCOD_CHAR_DS_CROSSV=215
</pre></p>
Cross-junction between two single line walls
<p class="code"><pre>
TCOD_CHAR_CROSS=197
</pre></p>
Arrows
<p class="code"><pre>
TCOD_CHAR_ARROW_N=24
TCOD_CHAR_ARROW_S=25
TCOD_CHAR_ARROW_E=26
TCOD_CHAR_ARROW_W=27
</pre></p>
Miscellaneous
<p class="code"><pre>
TCOD_CHAR_LIGHT=15
TCOD_CHAR_TREE=5
</pre></p>
