<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a><br />
<a href="console_drawing.html">&lt; 2.2 Drawing on the root console</a>
</td><td width="60%">
<p align="center">
=====================================<br />
Reading the fade amount<br />
=====================================<br />
</p></td><td width="20%">
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
<p class="code"><pre>
C++ : static uint8 TCODConsole::getFade()
C   : uint8 TCOD_console_get_fade()
</pre></p>
This function returns the current fade amount, previously defined by <a href="console_set_fade.html">setFade</a>.<br />
Example :<br />
<p class="code"><pre>
C++ : uint8 currentFade = TCODConsole::getFade();
C   : uint8 current_fade = TCOD_console_get_fade();
</pre></p>
