<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a><br />
<a href="console_drawing.html">&lt; 2.2 Drawing on the root console</a>
</td><td width="60%">
<p align="center">
=====================================<br />
Modifying the foreground color of a cell<br />
=====================================<br />
</p></td><td width="20%">
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
<p class="code"><pre>
C++ : void TCODConsole::setFore(int x, int y, const TCODColor &col)
C   : void TCOD_console_set_fore(TCOD_console_t con,int x, int y, TCOD_color_t col)
</pre></p>
This function modifies the foreground color of a cell, leaving other properties (background color and ASCII code) unchanged.<br />
<table class="param">
<tr><th>Parameter</th><th>Description</th></tr>
<tr><td>con</td><td>In the C version, the offscreen console handler or NULL for the root console.</td></tr>
<tr><td>x,y</td><td>Coordinates of the cell in the console.<br />0 &lt;= x &lt; console width<br />0 &lt;= y &lt; console height</td></tr>
<tr><td>col</td><td>The cell's new foreground color. You can use <a href="../color/index.html">color constants</a>.</td></tr>
</table>

