<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a><br />
<a href="console_drawing.html">&lt; 2.2 Drawing on the root console</a>
</td><td width="60%">
<p align="center">
=====================================<br />
2.3 Handling keyboard input<br />
=====================================<br />
</p></td><td width="20%">
<a href="console_offscreen.html">&gt; 2.4 Using off-screen consoles</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
.title { background-color: #44BBFF; color: #FFFFFF }
</style>
<br />
The keyboard handling functions allow you to get keyboard input from the user, either for turn by turn games (the function wait until the user press a key), or real time games (non blocking function).<br />
<br />
<a href="console_wait_for_keypress.html">2.3.1 Blocking keyboard input</a><br />
<a href="console_check_for_keypress.html">2.3.2 Non-blocking keyboard input</a><br />
<a href="console_set_keyboard_repeat.html">2.3.3 Changing keyboard repeat delay</a><br />
<a href="key_t.html">2.3.4 Keyboard event structure</a><br />
<a href="keycode_t.html">2.3.5 Key codes</a><br />

