<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a>
</td><td width="60%">
<p align="center">
=====================================<br />
2.1 Initializing the console<br />
=====================================<br />
</p></td><td width="20%">
<a href="console_drawing.html">&gt; 2.2 Drawing on the root console</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
</style>
<a href="console_init_root.html">2.1.1 Creating the game window</a><br />
<a href="console_set_bitmap_font_size.html">2.1.2 Using a custom bitmap font</a><br />
<a href="console_map.html">2.1.3 Using a custom characters mapping</a><br />
<a href="console_is_fullscreen.html">2.1.4 Getting the current mode (windowed/fullscreen)</a><br />
<a href="console_set_fullscreen.html">2.1.5 Switching between windowed and fullscreen modes</a><br />
<a href="console_is_window_closed.html">2.1.6 Handling "close window" events</a><br />
<a href="console_set_window_title.html">2.1.7 Changing the window title</a><br />
<a href="console_credits.html">2.1.8 Showing credits for libtcod</a><br />
<br />
<hr />
<p class="code"><pre>
</pre></p>
