<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a><br />
<a href="console_drawing.html">&lt; 2.2 Drawing on the root console</a>
</td><td width="60%">
<p align="center">
=====================================<br />
Drawing a window frame<br />
=====================================<br />
</p></td><td width="20%">
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
<p class="code"><pre>
C++ : void TCODConsole::printFrame(int x,int y,int w,int h, bool clear, const char *fmt, ...)
C   : void TCOD_console_print_frame(TCOD_console_t con,int x,int y,int w,int h, bool clear, const char *fmt, ...)
</pre></p>
This function calls the <a href="console_rect.html">rect</a> function using the <a href="bkgnd_flag.html">TCOD_BKGND_SET</a> flag, then draws a rectangle with the console's default foreground color. If fmt is not NULL, it is printed on the top of the rectangle, using inverted colors.<br />
<table class="param">
<tr><th>Parameter</th><th>Description</th></tr>
<tr><td>con</td><td>In the C version, the offscreen console handler or NULL for the root console.</td></tr>
<tr><td>x,y</td><td>Coordinates of the rectangle upper-left corner in the console.<br />0 &lt;= x &lt; console width<br />0 &lt;= y &lt; console height</td></tr>
<tr><td>w,h</td><td>Size of the rectangle in the console.<br />x &lt;= x+w &lt; console width<br />y &lt;= y+h &lt; console height</td></tr>
<tr><td>clear</td><td>if true, all characters inside the rectangle are set to ASCII code 32 (space).<br />If false, only the background color is modified</td></tr>
<tr><td>fmt</td><td>If NULL, the funtion only draws a rectangle.<br />Else, printf-like format string, eventually followed by parameters. You can use <a href="console_color_control.html">control codes</a> to change the colors inside the string.</td></tr>
</table>

