<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a><br />
<a href="console_init.html">&lt; 2.1 Initializing the console</a>
</td><td width="60%">
<p align="center">
=====================================<br />
2.1.7 Changing the window title<br />
=====================================<br />
</p></td><td width="20%">
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
<p class="code"><pre>
C++ : static void TCODConsole::setWindowTitle(const char *title)
C   : void TCOD_console_set_window_title(const char *title)
</pre></p>
This function dynamically changes the title of the game window.<br />
Note that the window title is not visible while in fullscreen.<br />
<table class="param">
<tr><th>Parameter</th><th>Description</th></tr>
<tr><td>title</td><td>New title of the game window</td></tr>
</table>

