<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a><br />
<a href="console_init.html">&lt; 2.1 Initializing the console</a>
</td><td width="60%">
<p align="center">
=====================================<br />
2.2 Drawing on the root console<br />
=====================================<br />
</p></td><td width="20%">
<a href="console_keyboard.html">&gt; 2.3 Handling keyboard input</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
.title { background-color: #44BBFF; color: #FFFFFF }
</style>
<br />
<a href="console_flush.html">2.2.1 Flushing the root console</a><br />
<br />
2.2.2 Basic printing functions<br />
&nbsp;&nbsp;&nbsp;<a href="console_set_background_color.html">Setting the default background color</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_set_foreground_color.html">Setting the default foreground color</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_clear.html">Clearing a console</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_put_char.html">Modifying every property of a cell</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_set_back.html">Modifying the background color of a cell</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_set_fore.html">Modifying the foreground color of a cell</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_set_char.html">Modifying the ASCII code of a cell</a><br />
<br />
2.2.3 String printing functions<br />
&nbsp;&nbsp;&nbsp;<a href="console_print_left.html">Printing a left aligned string</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_print_right.html">Printing a right aligned string</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_print_center.html">Printing a centered string</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_print_left_rect.html">Printing a left aligned string with autowrap</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_print_right_rect.html">Printing a right aligned string with autowrap</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_print_center_rect.html">Printing a centered string with autowrap</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_color_control.html">Changing the colors while printing a string</a><br />
<br />
2.2.4 Advanced printing functions<br />
&nbsp;&nbsp;&nbsp;<a href="console_rect.html">Filling a rectangle with the background color</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_hline.html">Drawing an horizontal line</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_vline.html">Drawing a vertical line</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_print_frame.html">Drawing a window frame</a><br />
<br />
2.2.5 Reading the content of the console<br />
&nbsp;&nbsp;&nbsp;<a href="console_get_background_color.html">Reading the default background color</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_get_foreground_color.html">Reading the default foreground color</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_get_back.html">Reading the background color of a cell</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_get_fore.html">Reading the foreground color of a cell</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_get_char.html">Reading the ASCII code of a cell</a><br />
<br />
2.2.6 Screen fading functions<br />
&nbsp;&nbsp;&nbsp;<a href="console_set_fade.html">Changing the fading parameters</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_get_fade.html">Reading the fade amount</a><br />
&nbsp;&nbsp;&nbsp;<a href="console_get_fading_color.html">Reading the fading color</a><br />
<hr />

  
