<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="index.html">&lt; 2. Console emulator</a><br />
<a href="console_keyboard.html">&lt; 2.3 Handling keyboard input</a>
</td><td width="60%">
<p align="center">
=====================================<br />
2.4 Using off-screen consoles<br />
=====================================<br />
</p></td><td width="20%">
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
.title { background-color: #44BBFF; color: #FFFFFF }
</style>
<br />
The offscreen consoles allow you to draw on secondary consoles as you would do with the root console. You can then blit those secondary consoles on the root console. This allows you to use local coordinate space while rendering a portion of the final screen, and easily move components of the screen without modifying the rendering functions.<br />
<br />
<a href="console_console.html">2.4.1 Creating an offscreen console</a><br />
<a href="console_blit.html">2.4.2 Blitting a console on another one</a><br />
<a href="console_delete.html">2.4.3 Destroying an offscreen console</a><br />

