<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="../console/index.html">&lt; 2. Console emulator</a>
</td><td width="60%">
<p align="center">
=====================================<br />
3. System layer<br />
=====================================<br />
</p></td><td width="20%">
<a href="../line/index.html">&gt; 4. Line drawing toolkit</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
This toolkit contains some system specific miscellaneous utilities.<br/>
<a href="system_sleep.html">3.1 High precision time functions</a><br />
<a href="system_screenshot.html">3.2 Easy screenshots</a><br />
<a href="system_fullscreen.html">3.3 Using a custom resolution for the fullscreen mode</a><br />

