<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="../parser/index.html">&lt; 7. File parser</a>
</td><td width="60%">
<p align="center">
=====================================<br />
8. All purposes container<br />
=====================================<br />
</p></td><td width="20%">
<a href="../random/index.html">&gt; 9. Pseudorandom number generator</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
This is a fast, lightweight and generic container, that provides array, list and stack paradigms :<br/>
<br />
<a href="list_init.html">8.1 Creating a list</a><br />
<a href="list_array.html">8.2 Basic array operations</a><br />
<a href="list_list.html">8.3 Basic list operations</a><br />
<a href="list_stack.html">8.4 Basic stack operations</a><br />
<a href="list_iterator.html">8.5 Iterators</a><br />
<a href="list_delete.html">8.6 Deleting a list</a><br />
<br />
