<p align="center">
=====================================<br />
The Doryen library v1.4.0<br />
=====================================<br />

Library content :<br />
</p>
<p align="center">
<table><tr>
	<td><h3 style="text-align:center">Core</h3></td>
	<td><h3 style="text-align:center">Base toolkits</h3></td>
	<td><h3 style="text-align:center">Roguelike toolkits</h3></td>
</tr><tr><td>
<p align="center">
<a href="compil/index.html">0. Compiling with libtcod</a><br />
<a href="color/index.html">1. Colors</a><br />
<a href="console/index.html">2. Console emulator</a><br />
<a href="system/index.html">3. System layer</a><br />
</p>
</td><td>
<p align="center">
<a href="line/index.html">4. Line drawing toolkit</a><br />
<a href="image/index.html">5. Image toolkit</a><br />
<a href="mouse/index.html">6. Mouse support</a><br />
<a href="parser/index.html">7. File parser</a><br />
<a href="list/index.html">8. All purposes container</a><br />
<a href="random/index.html">9. Pseudorandom number generator</a><br />
<a href="noise/index.html">10. Noise generator</a><br />
<a href="zip/index.html">11. Compression toolkit</a><br />
</p>
</td><td>
<p align="center">
<a href="fov/index.html">12. Field of view toolkit</a><br />
<a href="path/index.html">13. Path finding</a><br />
<a href="bsp/index.html">14. BSP toolkit</a><br />
<a href="heightmap/index.html">15. Heightmap toolkit</a><br />
</p>
</td></tr></table></p>
<br />
<p align="center">
<table><tr><td>
<b>Compiling</b><br />
To use the library, just include the right file :<br />
<p class="code"><pre>
C++ : #include "libtcod.hpp"
C   : #include "libtcod.h"
</pre></p>
Of course, you have to put the libtcod include directory in your compiler include path.<br />
<br />
<b>Linking</b><br />
With Visual Studio, add the libtcod-VS.lib in your linker inputs.<br />
With Mingw32, add -L./lib -ltcod-mingw to your linking command to link with lib/libtcod-mingw.a.<br />
With gcc on Linux, add -ltcod to your linking command to link with libtcod.so.<br />
With g++ on Linux, add -ltcod -ltcod++ to your linking command to link with libtcod++.so.<br />
<p class="code"><pre>
gcc -O3 sample.c -o samples_c -L. -ltcod -I include
g++ -O3 sample.cpp -o samples_cpp -L. -ltcod -ltcod++ -I include
</pre></p>
<br />
<b>Running</b><br />
On windows, libtcod-*.dll must be in the same directory as your game exe.<br />
On Linux, libtcod.so (and libtcod++.so if you're using C++) must be in your LD_LIBRARY_PATH :<br />
<p class="code"><pre>
export LD_LIBRARY_PATH=.
./samples_c
</pre></p>
</div>
</td></tr></table>
</p>
