<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="../noise/index.html">&lt; 10. Noise generator</a>
</td><td width="60%">
<p align="center">
=====================================<br />
11. Compression toolkit<br />
=====================================<br />
</p></td><td width="20%">
<a href="../fov/index.html">&gt; 12. Field of view toolkit</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
This toolkit provides functions to save or read compressed data from a file. While the module is named Zip, it has nothing to do with the .zip format as it uses zlib compression (.gz format).<br/>
You can use the compression buffer in two modes :<br />
<ul>
<li>Either you put data in the buffer, then save it to a file.</li>
<li>Or you load a file into the buffer, then get data from it.</li>
</ul>
<br />
<a href="zip_init.html">11.1 Creating a compression buffer</a><br />
<a href="zip_put.html">11.2 Putting data in the buffer</a><br />
<a href="zip_save.html">11.3 Saving the compressed data to a file</a><br />
<a href="zip_load.html">11.4 Loading compressed data from a file</a><br />
<a href="zip_get.html">11.5 Getting data from the buffer</a><br />
<a href="zip_delete.html">11.6 Destroying a compression buffer</a><br />

