<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="../mouse/index.html">&lt; 6. Mouse support</a>
</td><td width="60%">
<p align="center">
=====================================<br />
7. File parser<br />
=====================================<br />
</p></td><td width="20%">
<a href="../list/index.html">&gt; 8. All purposes container</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
This toolkit provides an easy way to parse complex text configuration files. It has two main advantages compared to a standard XML SAX parser :<br/>
<ul>
<li>The configuration file format is more human readable than XML</li>
<li>The parser knows some data types that it automatically converts to C variables (see section <a href="parser_types.html">10.4</a>)</li>
</ul>
<br />
<a href="parser_format.html">7.1 The libtcod config file format</a><br />
<a href="parser_str.html">7.2 Declaring the 'structures'</a><br />
<a href="parser_run.html">7.3 Running the parser</a><br />
<a href="parser_types.html">7.4 Standard data types</a><br />
<a href="parser_custom.html">7.5 Using custom data types</a><br />
<a href="parser_default.html">7.6 Using the default parser listener</a><br />
<br />
