<table width="100%"><tr><td width="20%">
<a href="../index.html">&lt; index</a><br />
<a href="../list/index.html">&lt; 8. All purposes container</a>
</td><td width="60%">
<p align="center">
=====================================<br />
9. Pseudorandom number generator<br />
=====================================<br />
</p></td><td width="20%">
<a href="../noise/index.html">&gt; 10. Noise generator</a>
</td></tr></table>
<style type="text/css">
.code { color:#444444; background-color:#EEEEEE;}
pre { color:#444444; background-color:#EEEEEE;}
table.param td { border : 1px solid #000000; }
th { background-color: #44BBFF; color: #FFFFFF }
table.none td { border : 0 }
</style>
This toolkit is an implementation of a fast and very high quality random number generator using the <a href="http://en.wikipedia.org/wiki/Mersenne_Twister">Mersenne twister algorithm</a>.<br/>
<a href="random_init.html">9.1 Creating a generator</a><br />
<a href="random_use.html">9.2 Using a generator</a><br />
<a href="random_array.html">9.3 Getting a random int from a byte array</a><br />
<a href="random_delete.html">9.4 Destroying a generator</a><br />
<br />
